/* Tweaks to Vitepress Default Theme */
/* https://vitepress.dev/reference/default-theme-config */

:root {
    --vp-c-brand-1: #ff6600; /* Base */
    --vp-c-brand-2: #ff8533; /* Lighter (Hover) */
    --vp-c-brand-3: #cc5200; /* Darker (Active) */
    --vp-c-brand-soft: rgba(255, 102, 0, 0.16); /* Backgrounds */

    --vp-font-family-base: 'Open Sans', sans-serif !important;
    --vp-font-family-headings: 'Open Sans', sans-serif !important;
}

body, html, #app, .Layout, .VPNav, .VPLocalNav, .VPContent, .VPDoc, .vp-doc, .homepage, p, h1, h2, h3, h4, h5, h6, a, span, button, input {
    font-family: 'Open Sans', sans-serif !important;
}

.VPNavBarMenuLink,
.VPNavBarMenuLink span,
.VPNav .nav-link,
.VPNavBar .title {
    font-weight: 600 !important;
}

.VPNavBarTitle .logo,
.VPNavBarTitle img,
.VPNavBarTitle .title img {
    height: 30px !important;
    max-height: 30px !important;
    width: auto !important;
}

.vp-doc h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.vp-doc h2 {
    margin: 24px 0 8px;
    padding-top: 0;
    padding-bottom: 12px;
    text-align: center;

    border-top: none;
    border-bottom: 1px solid var(--vp-c-divider);
}

.vp-doc a, a {
    &:not(:hover) {
        text-decoration: none;
    }
}

.homepage .content,
.vp-doc .content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    box-sizing: border-box;
}

@media (max-width: 719px) {
    .homepage .content,
    .vp-doc .content {
        padding: 1.5rem 1.5rem;
    }
}

.big-title {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 2rem !important;
    font-weight: 500 !important;
    line-height: 34px !important;
    text-align: center !important;
    border: none !important;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.VPDocFooter {
    display: none;
}

/* Custom Variables */

:root {
    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.4rem;
}

/* Custom Styling */

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.illustration {
    animation: fadeSlideUp 0.5s ease-out forwards;
}

.img-rounded {
    border-radius: var(--border-radius-md);
}

.features {
    padding: 1.2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-between;
}

.feature {
    text-align: center;
    border: 1px solid var(--vp-c-border);
    border-radius: var(--border-radius-md);
    padding: 1rem;

    margin: 1rem;
    flex-grow: 1;
    flex-basis: calc(30% - 2rem);

    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}
